<div class="container">
    <div id="title">
        <h1>Eat-Da-Burger</h1>
        <img alt="Image result for burger animated photo" class="n3VNCb" src="https://lh3.googleusercontent.com/proxy/yf4WQubN2xsQUBlxUkTIP6qxMrfFuDZFlBjrxOAx7e0ADT0QM5sfva7GpGuEH9jLeFg6YADcvo7n35Z-lAzbXCBb1g" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 200px; height: 200px; margin: 3px 0px;">
    </div>
        
    
    <div class="row">
        <div class="col-sm-6">
            <div class="undevouredBurgers">
                <ul class="burgerList">
                     {{#each burger}}
                     
                    {{#unless devoured}}
                        <strong id="undevouerdBurgersList"> {{this.id}} -{{this.burger_name}}</strong>
                        <button type="btn" class="eatBurger" id="devourButton" data-id="{{this.id}}" data-newdevoured="{{devoured}}">Devour Burger</button>
                        </br>
                        </br>
                    {{/unless}}
                     
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="devouredBurgers">
                <ul class="devouredBurgerList">
                     {{#each burger}}
                    
                    {{#if devoured}}
                        <h6 id="devouerdBurgersList"> {{this.id}} -{{this.burger_name}}</h6>
                        </br>
                        </br>
                    {{/if}}
                    
                    {{/each}}
                    
                   
                </ul>
            </div>
        </div>
    </div>

    <panel>
         
        <form class="createBurger-Form">
            <div class="formGroup">
                <h3 for="newBurger">Make your burger</h3>
                <input type="text" id="newBurger" name="burger">
                <button type="submit" class="btn btn-success" id="addBurger">submit</button>
            </div>
        </form>
    </panel>
</div>
</div>